<html>
<title>About</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
<link rel="stylesheet" href="{% static 'smartpollution/w3.css' %}">
<link rel="stylesheet" href="{% static 'smartpollution/forms.css' %}">
<body>

<div class="w3-top">
    <div class="w3-bar w3-blue w3-card-2 w3-left-align w3-large">
        <a href="{% url 'smartpollution:index' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Devices</a>
        <a href="{% url 'smartpollution:index_templates' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Templates</a>
        <a href="{% url 'smartpollution:contract_monitor' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Contract monitor</a>
        <a href="{% url 'smartpollution:about' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">About</a>
    </div>
</div>
<!-- Header -->
<header class="w3-container w3-blue w3-center" style="padding:128px 16px">
    <h1 class="w3-margin w3-jumbo">Pollution Monitoring</h1>
    <a href="{% url 'smartpollution:register_device' %}" button
       class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Register a new device</a>
</header>

<div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
        <br class="w3-twothird">
        <h1>Who are we</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
    <div class="w3-third w3-center">
    </div>
</div>
</div>
</body>