<h1>Choose metrics this device captures</h1>
<form action={% url 'smartpollution:add_metric_to_device_save' pk%} method="post">{% csrf_token %}
    {%if metrics %}
        {% for met in metrics %}
              <input type="checkbox" name={{ met.id }} value="True"> {{met.physical_property}} in {{ met.unit_of_measurement }}<br>
        {% endfor %}
        <input type="submit" value="Send message" />
    {% endif %}
</form>
<li><a href="{% url 'smartpollution:register_metric' %}">If your metric is not in the list just register a new metric</a></li>