<!DOCTYPE html>
<html>
<title>Generate template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
<link rel="stylesheet" href="{% static 'smartpollution/w3.css' %}">
<link rel="stylesheet" href="{% static 'smartpollution/forms.css' %}">
<body>

<div class="w3-top">
    <div class="w3-bar w3-blue w3-card-2 w3-left-align w3-large">
        <a href="{% url 'smartpollution:index' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Devices</a>
        <a href="{% url 'smartpollution:index_templates' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Templates</a>
        <a href="{% url 'smartpollution:about' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">About</a>
    </div>
</div>
<!-- Header -->
<header class="w3-container w3-blue w3-center" style="padding:128px 16px">
    <h1 class="w3-margin w3-jumbo">Choose metrics this device captures</h1>
    <a href="{% url 'smartpollution:register_metric' %}" button
       class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Register a new Metric</a>
</header>

<div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
        <br class="w3-twothird">
        <form action={% url 'smartpollution:add_template_to_device_save' pk %} method="post">{% csrf_token %}
            {% if metrics_of_device %}
                Enter th new templates name:<input type="text" name="template_name"><br>
                {% for met in metrics_of_device %}
                    <label for=lower:{{ met.id }}>{{ met.physical_property }} in
                        {{ met.unit_of_measurement }} lower trigger:</label>
                    <input type="number"
                           name=lower:{{ met.id }}
                           min="-1000000"
                           max="1000000"
                           step="0.001"
                           value="NaN">

                    <label for=lower:{{ met.id }}>{{ met.physical_property }} in
                        {{ met.unit_of_measurement }} upper trigger:</label><input type="number"
                                                                                   name=upper:{{ met.id }}
                                                                                   min="-1000000"
                                                                                   max="1000000"
                                                                                   step="0.001"
                                                                                   value="NaN"></br>
                {% endfor %}
                <input class="w3-button w3-black w3-padding-large w3-large w3-margin-top" type="submit"
                       value="Send message"/>
            {% else %}
                <li>Sorry, there are no no metrics assigned to this device. Change it
                    <a href="{% url 'smartpollution:add_metric_to_device' pk %}">here</a>
                </li>

            {% endif %}
            <p>Lower trigger: an event is generated if the value is below "lower trigger"</p>
            <p>Upper trigger: an event is generated if the value is above "upper trigger"</p>
        </form>
    </div>
    <div class="w3-third w3-center">
    </div>
</div>
</div>
</body>