<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
<link rel="stylesheet" href="{% static 'smartpollution/w3.css' %}">
<link rel="stylesheet" href="{% static 'smartpollution/forms.css' %}">

<body>

<div class="w3-top">
    <div class="w3-bar w3-red w3-card-2 w3-left-align w3-large">
        <a href="{% url 'smartpollution:index' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Devices</a>
        <a href="{% url 'smartpollution:index_templates' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Templates</a>
        <a href="{% url 'smartpollution:about' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">About</a>
    </div>
</div>
<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
    <h1 class="w3-margin w3-jumbo">{{ device.device_name }} made by {{ device.manufacturing_company }}</h1>
    <a href="{% url 'smartpollution:add_template_to_device' device.id %}" button
       class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Create a new template </a>
    <a href="{% url 'smartpollution:add_metric_to_device' device.id %}" button
       class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Add a metric to device</a>
</header>

<div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
        <br class="w3-twothird">

        <h1>Templates:</h1>
        <ul class="w3-ul">
            {% for temp in templates %}
                <li><a href="{% url 'smartpollution:detail_template' temp.id %}">{{ temp.template_name }}<a/></li>
            {% endfor %}
        </ul>
        <h1>Measures:</h1>
        <ul class="w3-ul">
            {% for met in device.metrics.all %}
                <li>{{ met.physical_property }} in {{ met.unit_of_measurement }}<br/></li>
            {% endfor %}
        </ul>
    </div>
    <div class="w3-third w3-center">
    </div>
</div>
</div>
</body>