<!DOCTYPE html>
<html>
<title>register metric</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
<link rel="stylesheet" href="{% static 'smartpollution/w3.css' %}">
<link rel="stylesheet" href="{% static 'smartpollution/forms.css' %}">
<body>

<div class="w3-top">
    <div class="w3-bar w3-blue w3-card-2 w3-left-align w3-large">
        <a href="{% url 'smartpollution:index' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Devices</a>
        <a href="{% url 'smartpollution:index_templates' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Templates</a>
        <a href="{% url 'smartpollution:about' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">About</a>
    </div>
</div>
<!-- Header -->
<header class="w3-container w3-blue w3-center" style="padding:128px 16px">
    <h1 class="w3-margin w3-jumbo">Create a new metric</h1>
</header>

<div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
        <br class="w3-twothird">
        <form action={% url 'smartpollution:register_metric_add' %} method="post">{% csrf_token %}
            <label for="physical_property">Physical property measured( e.g. temperature):</label>
            <input type="text" id="physical_property" name="physical_property"><br>
            <label for="unit_of_measurement">Unit of measurement( e.g. Celsius):</label>
            <input type="text" id="unit_of_measurement" name="unit_of_measurement"><br>
            <input class="w3-button w3-black w3-padding-large w3-large w3-margin-top" type="submit"
                   value="Send message"/>
        </form>
    </div>
    <div class="w3-third w3-center">
    </div>
</div>
</div>
</body>